b {
	color: #0000cc;
	font-family: sans-serif;
}

i {
	color: #1a1aff;
	font-family: sans-serif;
}

.words {
	margin-right: 30px;
	padding: 5px;
	text-align: center;
	position: relative;
	font-size: 15px;
}

#formed {
	font-size: 35px;
	color: #404040;
}

#right {
	color: green;
	font-size: 35px;
	font-family: sans-serif;
}

#wrong {
	color: red;
	font-size: 35px;
	font-family: sans-serif;
}
button{
cursor: pointer;
border-radius : 4px;
border : 1px solid black;
color : black;
}
